.sidebar {
    width: 256px;
    height: 775px;
    margin-right: 10px;
    margin-top: 4px;
    background: #FAFAFA;
}

.sidebarContent {
    display: flex;
    flex-direction: column;
}

.sidebarTitle {
    width: 215px;
    height: 1px;
    margin-left: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.sidebarText {
    width: 215px;
    height: 16px;
    margin-left: 21px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.sidebarInputText {
    width: 195px;
    height: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-left: 4px;
    color: #000000;
}

.inputCheckBox {
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    margin-left: 21px;
    background: #FFFFFF;
    border: 1px solid #6A6A6A;
    border-radius: 3px;
    vertical-align: middle;
}

.ellipseGreen {
    margin-left: 4px;
    vertical-align: middle;
}

.ellipseBlue {
    margin-left: 5px;
    vertical-align: middle;
}