.customCheckbox input[type="checkbox"] {
    display: none;
}

.customCheckbox input[type="checkbox"]+label {
    position: relative;
    display: inline-block;
    font-size: 18px;
}

.customCheckbox input[type="checkbox"]+label:before {
    content: '\♡';
    position: absolute;
    right: 5px;
    top: -14px;
    bottom: 0%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #6A6A6A;
    cursor: pointer;
}


.customCheckbox input[type="checkbox"]:checked+label:after {
    content: '\❤️';

    position: absolute;
    right: 5px;
    top: -14px;
    bottom: 0%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #F84F4F;
    cursor: pointer;
}