.navbarWrapper {
    background-image: url('/images/nav.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 57px;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    min-width: 250px;
    margin-left: 10px;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.li {
    margin-right: 20px;
}

.link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

/* Go to Marketpage */
.linkMarketPage {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #FFFFFF;
    text-decoration: none;
}

.customUnderLine {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: fit-content;
}




.searchInput {
    max-width: 411px;
    height: 29px;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 4px 16px 4px 0px;
}

.searchIcon {
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 2px solid #6A6A6A;
}

.customNotificationIcon {
    padding: 8px 10px 8px 10px;
    background-color: #34353A;
    border-radius: 8px;
    margin-right: 8px;
    color: white;
    cursor: pointer;
}

.customUserIcon {
    padding: 6px 8px 6px 8px;
    background-color: white;
    border-radius: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.searchContainer {
    margin-top: 4px;
    position: relative;
}

.customInputSearch {
    position: absolute;
    right: 160px;
    top: 50%;
    transform: translateY(-50%);
    color: #6A6A6A;
}